body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(123, 126, 129);
}

h1 {
    text-align: center;
}

.section {
    margin: 30px 50px;
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

h2 {
    font-size: 1.4em;
}

form {
    display: flex;
    flex-wrap: wrap;
}

input, select, button {
    margin: 7px;
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #0f0d0d;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    
}

#totalBill {
    font-weight: bold;
}


header{
display: flex;
flex-wrap: wrap;
justify-content:left;
align-items:center;
}
nav{
display: flex;
justify-content: center;
align-items:center;
padding-top: 1%;
padding-bottom:1%;
width: 100%;
font-size: 1.7rem;
background-color: #0f0d0d71;


}
a {
    text-decoration: none; 
    padding: 1% 2%;
    background-color: rgb(227, 233, 255);
    color: black;
    cursor: pointer;
    border-radius: 10%;
    margin: 2%;

  }

a:hover{
    background-color: rgba(166, 208, 255, 0.871);
}
/* INPUT AND PAGE STYLING*/
h1{
    padding: 1%;
   font-size: 3rem;
}

button{
    background-color: rgba(14, 167, 32, 0.504);
    border-radius: 10px;
    margin: 6px 12px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background-color: rgb(166, 208, 255);
}

input{
    width: auto;
    height: 30px;
    border-radius: 5px;
    border-style:groove;
}
#tableSelect{
    height: 50px;
    width: auto;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 17px;
}
#dishSelect{
    height: 50px;
    width: auto;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 17px;
}


.deleteButton{
    margin-left: 50px;
    background-color: rgb(217, 44, 44);
    color: white;
    cursor: pointer;
}
.cancelButton{
    margin-left: 50px;
    background-color: rgb(250, 217, 50);
    color: black;
    cursor: pointer;
}

/*footer*/

footer{
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    background-color: #0f0d0d71;
}

#contactUs{
   
    text-align:start;
    font-family: "Roboto";
    color: white;
    height: 120px;
    margin-right: 10%;
    padding-bottom: 10px;
}
.contactUs h3{
    font-family: "Roboto";
    color: white;
}
#connectUs{
    margin: 0 4%;
    padding-bottom: 40px;
}
.contact--icons{
    display: flex;
    flex-direction: row;
    color: white;

}
#contact-icons h3{
    color: white;
}
#aboutUs{
   color: white;
   margin: 0 4%;
   width: 60%;
   padding-bottom: 40px;

}
